<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (title) { %> <%= title %><% } else {%> No title <% } %>
    </title>
    <style>
      /* critical css go here, if you want */
    </style>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body></body>
</html>
